In [33]:
import duckdb
import pandas as pd
import sqlite3
import numpy as np
import sqlalchemy
from prettytable import PrettyTable

In [34]:
def pprint(cur):
    cols= [val[0] for val in cur.description]
    rows = cur.fetchall()
    table = PrettyTable(field_names=cols)
    table.add_rows(rows)
    print(table)

In [18]:
con = sqlite3.connect("./db.sqlite3")
cur = con.cursor()

In [15]:
data ={
    "id": [12, 55, 21],
    "s" : ["as", "ka", "oe"],
    "val": [1.32, 34.65, 12.12]
}

In [23]:
sql = """
CREATE TABLE myTable(
id INTEGER PRIMARY KEY,
s VARCHAR(100),
val FLOAT
)
"""

cur.execute(sql)

In [35]:
sql="SELECT * FROM myTable"
cur.execute(sql)
pprint(cur)

+----+---+-----+
| id | s | val |
+----+---+-----+
+----+---+-----+

In [38]:
sql = """
INSERT INTO myTable (id, s, val) VALUES(42, 'Was Los?', 12.12)
"""
cur.execute(sql)

IntegrityError: UNIQUE constraint failed: myTable.id

In [39]:

sql="SELECT * FROM myTable"
cur.execute(sql)
pprint(cur)

+----+----------+-------+
| id |    s     |  val  |
+----+----------+-------+
| 42 | Was Los? | 12.12 |
+----+----------+-------+